body{
  background-color:black;
  padding:0;
  margin:0;
  
}

.navbar {
  display: flex;
  background-color: black;
  justify-content: space-between;
  padding: 5px 10px;
  font-size: 20px;
  font-family:Verdana,Tahoma,Sans-Serif,Segoe UI;
 position: relative;
 align-items: center;
 
}

.logo{
  margin:5px;
  padding:10px;
  justify-content: center;
}

img{
 height:3rem;
 width:70px;
  
}
ul {
  display:flex ;
  gap: 1rem;
  justify-content: center;
  
}
li{
  list-style: none;
 

}

a{
  text-decoration: none;
  list-style: none;
  color:white;
  justify-content: center;
  font-weight: bold;
}

.hero {
    justify-content: space-between;
    display: flex;
    height: 100vh;
    padding: 5% 10%;
    background: #000;
    color: white;
    
}
 
/* Footer */
.container-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
}

.hero-text {
    max-width: 50%;
}

.hero-text h2 {
    font-size: 24px;
}

.hero-text h1 {
    font-size: 50px;
    margin: 10px 0;
}

.highlight {
    color: red;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: darkred;
}

/* Hero Image */
.hero-image img {
    width: 350px;
    height: auto;
    border-radius: 10px;
    
}

/* Responsive */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding-top: 100px;
    }

    .hero-text {
        max-width: 100%;
    }

    .hero-image img {
        width: 80%;
        margin-top: 20px;
    }

